<body>

    <p>If you'r here it's because you probably have trouble with format.</p>
    <p>So below this you can see some : </p>
    <p>("exit : end the programm")
       ("show : print the current date")
       ("reset : change the time format to the default one")
       ("personalize : allow to personalize the display format of the date")
       ("set : set the time of the computer (requires admin)")
    </p>

    <p>%a	Abbreviated weekday name.</p>
    <p>%A	Full weekday name.</p>
    <p>%-d	Day of the month as a decimal number.</p>
    <p>%B	Full month name.</p>
    <p></p>
    <p></p>

</body>
